<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="./favicon.ico" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>

  <script src="script.js"></script>

  <title>Clientes</title>
  
  {{ style('style') }}
</head>
<body>
  <div id="root">
    <fieldset class="container">
      <legend>Clientes</legend>

      <form id="form-cliente" onsubmit="onSubmit(event)">
        <div class="form-group">
          <label for="marca">ID</label>
          <input
            class="form-control small"
            type="text"
            name="id"
            id="id"
            readonly
            required
          />
        </div>

        <div class="form-group">
          <label for="name">Nome</label>
          <input
            class="form-control"
            type="text"
            name="name"
            id="name"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            class="form-control"
            type="text"
            name="email"
            id="email"
            required
          />
        </div>

        <div class="button-group">
          <button class="btn btn-success" type="submit">Salvar</button>
          <button class="btn btn-warning" type="reset">Limpar</button>
        </div>
      </form>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th class="small"></th>
            <th class="small"></th>
            <th class="small"></th>
          </tr>
        </thead>

        <tbody id="table-body"></tbody>
      </table>
    </fieldset>
  </div>
</body>
</html>
